.projects-head{
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
}
.projects-head .row{
    margin-left: 0%;
    margin-right: 0%;
}
.project-imgs-div{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;   /* IE10 */
    flex-wrap: wrap;
    margin: 0%;
    margin-bottom: 50px;
}
.project-imgs-div .column{
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
}
.project-imgs-div .column .project-imgs{
    vertical-align: middle;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}
@media screen and (max-width: 800px) {
    .project-imgs-div .column{
      flex: 50%;
      max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .project-imgs-div .column{
      flex: 100%;
      max-width: 100%;
    }
}
@media screen and (max-width: 425px){
    .projects-head{
        font-size: 30px;
    }
    .project-imgs-div .column{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 320px){
    .projects-head{
        font-size: 25px;
    }
}