*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: isocteur;
  src: url(assets/Fonts/ISOCTEUR.ttf);
}
.base-font{
  font-family: isocteur!important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  color: #383838;
}
body{
  font-family: 'Roboto', sans-serif;
}
#root{
  background-color: #E5E5E5;
}